:root {
	--dark-primary-color: #5d4037;
	--accent-color: #ff9800;
	--divider-color: #bdbdbd;
	--light-primary-color: #d7ccc8;
	--primary-color: #795548;
	--primary-text: #212121;
	--secondary-text: #757575;
	--error: #ffc0c0;
}

#bg__image {
	position: absolute;
	max-width: 800px;
	min-width: 400px;
	top: calc(50% + 6rem);
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0.09;
	z-index: -4;
}

#header {
	height: 6rem;
}

.brand {
	color: #fff;
	letter-spacing: 1.5px;
}

.brand--light {
	font-weight: lighter;
}
.brand--strong {
	font-weight: bolder;
	color: var(--accent-color);
}

#header__logo {
	width: 3rem;
	margin-left: 20px;
}

form {
	min-width: 80%;
}

#form__shipInput {
	border-radius: 10px 10px 0px 0px;
}

#form__carrierSelect {
	border-radius: 0 0 0 0;
}

#form__submitButton {
	border-radius: 0px 0px 10px 10px;
}

#form__shipInput:focus {
	box-shadow: none !important;
	border: 1px solid var(--accent-color) !important;
}

#form__carrierSelect:focus {
	box-shadow: none !important;
	border: 1px solid var(--accent-color) !important;
}
#form__submitButton:focus {
	box-shadow: none !important;
}

@media (min-width: 768px) {
	form {
		min-width: 700px;
	}
	#form__shipInput {
		border-radius: 10px 0px 0px 10px;
	}

	#form__submitButton {
		border-radius: 0px 10px 10px 0px;
	}
}

#errorDisplay {
	margin-bottom: 16px;
}
.errorMsg {
	padding: 0.6rem;
	text-align: center;
	background-color: var(--error);
}

#cardContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
