#errorDisplay {
	margin-bottom: 16px;
}
.errorMsg {
	padding: 0.6rem;
	text-align: center;
	background-color: var(--error);
}

#cardContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
