.input,
.submit,
.carrier-select {
	padding: 0.6rem 2.3rem;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.1rem;
	border: 1px solid var(--dark-primary-color);
}

.carrier-select {
	padding: 0.6rem 0.3rem;
	width: 150px;
}

.input {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-right: none;
}
