.card {
	width: 400px;
	font-weight: lighter;
	margin: 1rem 0;
	border: 1px solid var(--dark-primary-color);
	border-radius: 10px !important;
	padding: 0.5rem 2rem;
	display: flex;
	flex-direction: column;
	text-align: left;
	background-color: #d7ccc8 !important;
	position: relative;
}

.card__header {
	font-weight: bold;
	margin: 0.5rem 0;
	font-size: 1.5rem;
}

.card-row {
	position: relative;
	display: flex;
	justify-content: space-between;
}

.provider-logo {
	height: 3rem;
	position: absolute;
	right: 0rem;
}

.card span {
	margin-bottom: 0.3rem;
}

.card span:nth-child(2) {
	text-align: right;
}

.card__deleteButton {
	height: 21px;
	width: 21px;
	border-radius: 50%;
	border: 1.5px solid var(--dark-primary-color);
	position: absolute;
	right: -0.5rem;
	top: -0.5rem;
	background-color: var(--accent-color);
	cursor: pointer;
	display: none;
	justify-content: center;
	font-size: smaller;
	font-weight: bolder;
}

.card:hover .card__deleteButton {
	display: flex;
}
