.App {
	margin: 0;
}

.errorMsg {
    width: 355px;
	padding: 0.2rem 2rem;
    text-align: center;
	font-size: 1.1rem;
	font-weight: 400;
    font-style: italic;
    background-color: var(--accent-color);
	border: 1px solid var(--dark-primary-color);
	border-radius: 4px;
    transition: all 1000ms ease;
  }
