@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,700;1,400&display=swap");

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2rem;
}

/* colors */

:root {
  --dark-primary-color: #5d4037;
  --accent-color: #ff9800;
  --divider-color: #bdbdbd;
  --light-primary-color: #d7ccc8;
  --primary-color: #795548;
  --primary-text: #212121;
  --secondary-text: #757575;
}

.header {
  background-color: var(--dark-primary-color);
  color: #fff;
  margin: 0;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: lighter;
  font-size: 2.2rem;
  letter-spacing: 1.5px;
  border-bottom: 1px solid var(--accent-color);
}

.strong {
  font-weight: bolder;
  color: var(--accent-color);
}

.logo {
  width: 3rem;
  margin-left: 30px;
}

.form {
  background-color: var(--divider-color);
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input,
.submit,
.carrier-select {
  padding: 0.6rem 2.3rem;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.1rem;
  border: 1px solid var(--dark-primary-color);
}

.input {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: none;
}

.submit {
  background-color: var(--accent-color);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: none;
}

.submit:hover {
  cursor: pointer;
  box-shadow: 0px 0px 3px #5d4037;
}

.submit:hover + .input {
  border-right: 1px solid var(--accent-color);
  border-top: 2px solid var(--accent-color);
}

.input:focus-visible,
.input:focus-visible + .submit {
  border-left: 1px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
  outline: none;
}

.input:focus-visible + .submit {
  border-bottom: 2px solid var(--accent-color);
}

.error-display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.errorMsg {
  width: 355px;
  padding: 0.2rem 2rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
  font-style: italic;
  background-color: var(--accent-color);
  border: 1px solid var(--dark-primary-color);
  border-radius: 4px;
  transition: all 1000ms ease;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0.3rem;
}

.card {
  width: 355px;
  font-weight: lighter;
  margin: 1rem 0;
  border: 1px solid var(--dark-primary-color);
  border-radius: 4px;
  padding: 0.5rem 2rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: var(--light-primary-color);
  position: relative;
}

.card h3 {
  margin: 0.5rem 0;
}

.card-row {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.provider-logo {
  height: 5rem;
  position: absolute;
  right: 0rem;
  top: -1.1rem;
}

.card span {
  margin-bottom: 0.3rem;
}

.card span:nth-child(2) {
  text-align: right;
}

.hide {
  height: 21px;
  width: 21px;
  border-radius: 50%;
  border: 1.5px solid var(--dark-primary-color);
  position: absolute;
  right: -0.5rem;
  top: -0.5rem;
  background-color: var(--accent-color);
  cursor: pointer;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: smaller;
  font-weight: bolder;
}

.card:hover .hide {
  display: flex;
}

.card span:nth-child(2) {
  text-align: right;
}

/* media query */

@media (max-width: 440px) {
  .form {
    flex-direction: column;
  }
  .input {
    width: 70vw;
    margin-bottom: 10px;
  }
  .input,
  .submit {
    border: 1px solid var(--dark-primary-color);
    border-radius: 4px;
  }
  .input:focus-visible + .submit {
    border-bottom: 1px solid var(--dark-primary-color);
    border-left: 1px solid var(--dark-primary-color);
  }
  .submit:active {
    box-shadow: 0px 0px 5px #5d4037;
  }
  .card {
    width: 80vw;
    padding: 0.5rem 1rem;
  }
  span:first-child {
    font-weight: 400;
  }
  .errorMsg {
    width: 93vw;
    padding: 0.2rem 0;
  }
}
